body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #55B4B0;
}
nav{
    background-color: white;
    padding: 20px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: width 0.6s linear;
}
nav.active{
    width: 350px;
}
nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 0;
    transition: width 0.6s linear;
}
nav.active ul {
    width: 100%;
}
nav ul li {
    transform: rotateY(0deg);
    opacity: 0;
    transition: transform 0.6s linear, opacity 0.6s linear;
}
nav.active ul li{
    opacity: 1;
    transform: rotateY(360deg);
}
nav ul a{
    position: relative;
    color: black;
    text-decoration: none;
    margin: 0 10px;
}
.icon{
    background-color: white;
    border: 0;
    cursor: pointer;
    padding: 0;
    position: relative;
    height: 30px;
    width: 30px;

}
.icon:focus{
    outline: 0;
}
.icon .line {
    background-color: blue;
    height: 2px;
    width: 20px;
    position: absolute;
    top: 10px;
    left: 5px;
    transition: transform 0.6s linear;
}
.icon .line2 {
    top: auto;
    bottom: 10px;
}
nav.active .icon .line1 {
    transform: rotate(-765deg) translateY(5.5px);
}
nav.active .icon .line2 {
    transform: rotate(765deg) translateY(-5.5px);
}

.kinetic {
    position: relative;
    height: 80px;
    width: 80px;
}

.kinetic::after, .kinetic::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-bottom-color: darkblue;
    animation: rotateA 2s linear infinite 0.5s;
}

.kinetic::before {
    transform: rotate(90deg);
}

@keyframes rotateA {
    0%, 25% {
        transform: rotate(0deg);
    }

    50%, 75% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.testimonial-container {
    background-color: #E15D44;
    color: white;
    border-radius: 15px;
    margin: 20px auto;
    padding: 50px 80px;
    max-width: 768px;
    position: relative;
}

.fa-quote {
    font-size: 28px;
    position: absolute;
    top: 70px;
}

.fa-quote-right {
    left: 40px;
}

.fa-quote-left {
    right: 40px;
}

.testimonial {
    line-height: 28px;
    text-align: justify;
}

.user {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user .user-image {
    border-radius: 50%;
    height: 75px;
    width: 75px;
    object-fit: cover;
}

.user .user-details {
    margin-left: 10px;
}

.user .username {
    margin: 0;
}

.user .role {
    font-weight: normal;
    margin: 10px 0;
}

.progress-bar {
    background-color: white;
    height: 4px;
    width: 100%;
    animation: grow 7s infinite;
    transform-origin: left;
}

@keyframes grow {
    0% {
        transform: scaleX(0);
    }
}

.order-now input{
    background-color: purple;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: relative;
    
}
img {
    position: relative;
    height: 500px;
    width: 800px;
    
}